

#wrapper{
    position: absolute;
    background-color: rgba(1, 1, 1, 0.306);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    overflow: hidden;
    transition: all 0.2s ease-out;
}
#wrapper.close{
    transform: scale(0.001);
    opacity: 0;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  width: 100%;
}
.category{
  height: 100%;
  width: 7%;
  padding: 40px 20px;
  background-color: rgba(1, 1, 1, 0.5);
}
.category ul{
  width: 100%;
  height: 100%;
}
.category ul li{
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.cart-wrapper{
  height: 100%;
  width: 90%;
}

.cart-wrapper__header{
  height: 5%;
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
}
#close{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 2px rgb(0, 0, 0);
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart-wrapper__header .drop-down{
width: 200px;
background-color: #fff;
height: 95%;
align-self: center;
border-radius: 4px;

display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.drop-down select{
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}
.drop-down select:active,.drop-down select:focus,.drop-down select:hover{
  border: none;
}
.cart-wrapper__list{
  height: calc(100% - 40px);
  width: 93%;
  padding: 20px 20px;
}
.tab-content::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.tab-content::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.tab-content::-webkit-scrollbar-thumb {
  background: rgb(23, 23, 23); 
}

/* Handle on hover */
.tab-content::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200); 
}

.cart-wrapper__item{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
/* Ribbon tag */
.tag{
  position: absolute;
  top: -10px;
  right: -10px;
  width: 150px;
  height: 150px;
  z-index: 99;
  overflow: hidden;
}
.tag span{
  width:225px;
   padding:10px 0px;
   display:block;
   position:absolute;
   top:20px;
   left:-20px;
   transform:rotate(45deg);
   text-align:center;
   color:#fff;
   text-transform:uppercase;
   font-weight:bold;
}
.tag-new{
  background-color: #ff0000;
}
.tag-hot{
  background-color: #ffa500;
}
.tag-sale{
  background-color: #00ff00;
}



/* .cart-item__custom{
  height: 100%;
} */
.cart-wrapper__img .item-img{
  width: 100%;
  height: 80%;
  position: relative;
  z-index: 1;
}
.item-img .img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(0.9);
 
}
.triagle{
  position: absolute;
  width:100%;
  max-width: 220px;
  height: 80%;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  opacity: 0.9;
  z-index: -1;
}
.cart-wapper__infos{
 position:absolute;
 background:linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.7));
  width: 200px;
  height: auto;
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.cart-wapper__infos .cart-wapper__infos--info{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}
.info-text{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
}
.cart-wrapper__img{
  background:linear-gradient(145deg,#323944 0%,#303742 70%);
  background-size: cover; 
  width: 100%;
  height: calc(100% - 40px);
  transition: all 0.3s ease;
  position: relative;

}


.cart-wrapper__img:hover{
  -webkit-box-shadow: #fff 0px 0px 2px 0px, rgb(228, 218, 210) 0 0px 5px, #d5ccc7 0 0px 8px 2px, rgb(219, 218, 207) 0 0px 10px, 0px 0px 4px 0px rgb(194 78 156 / 0%); 
  box-shadow: #fff 0px 0px 2px 0px, rgb(220, 214, 210) 0 0px 5px, #c5c1bf 0 0px 8px 2px, rgb(199, 193, 192) 0 0px 10px, 0px 0px 4px 0px rgb(194 78 156 / 0%);
}
.cart-wrapper__action{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}
.cart-wrapper__action .icon{
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(84, 83, 83) 0%, rgb(135, 132, 132) 50%);
  cursor: pointer;
  margin-right: 3px;
}
.cart-wrapper__action .icon img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.cart-wrapper__action button{
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.cart-wapper__infos{
  display: none;
  transition: all 0.1s ease-in-out;
  z-index: 999;
}
 .cart-wapper__infos.active{
  display: block;
}
.cart-wapper__infos img{
  object-fit: unset;
  width: 30px;
  height: 30px;
  z-index: 999;
}
.btn{
  height: 100%;
  width: 100%;
  border:none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.btn-buy{
  background: #2762e6;
  background: linear-gradient(90deg, #2762e6 0%, #25a2f2 50%);
}
.btn-buy:hover{
  background: #2762e6;
  background: linear-gradient(90deg, #497ef0 0%, #53b8f7 50%);
}
.btn-detail{
  background: rgb(89, 22, 38);
  background: linear-gradient(180deg, rgb(105, 38, 61) 0%, rgb(175, 74, 98) 50%);
}
.btn-detail:hover{
  background: rgb(89, 22, 43);
  background: linear-gradient(180deg, rgb(89, 22, 48) 0%, rgb(167, 50, 87) 50%);
}
.category__item{
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.category__item.active{
  color: #b84d14;
}

[data-id="1"] {
  /* Attribute has this exact value */
  /* grid-gap: unset !important; */
  grid-template-columns: 80% 20% !important;
  grid-template-rows: 60% 40% !important;
  overflow: hidden !important;
}
.banner{
  grid-column: 1 / span 1 ;
  grid-row: 1 / span 1;
  position: relative;
}
/* NEWPRODUCT */
.new-product{
  height: 100%;
  width: 100%;
  grid-row: 1 / span 2;
}
.list{
  overflow: hidden auto;
  height: 100%;
  width: 100%;
}
.list > * ~ * {
  margin-top: 10px;
}
.list::-webkit-scrollbar {
  width: 0px;
  display: none;
}

/* Track */
.list::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.list::-webkit-scrollbar-thumb {
  background: rgb(23, 23, 23); 
}

/* Handle on hover */
.list::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200); 
}
.title{
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.list .item{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.item__image{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item__image img{
  width: 100%;
  height: 100%;
}
.item__info{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.item__info__name, .item__info__price{
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  max-width: 50%;
  display: flex;
  align-items: center;
}
.item__info__price img{
  width: 15px;
  height: 15px;
  object-fit: cover;
  margin-right: 5px;
}
.featured{
  grid-column: 1 / span 1;
  margin-top: 20px;
  height: 100%;
  width: 100%;
}
.tab-content{
  display: none;
  opacity: 0;
  grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
  grid-gap: 20px;
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  overflow:hidden auto ;
  
}
.tab-content.active{
  display: grid;
  opacity: 1;
  
}
.cart-info{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background:#2b313a;
}
.cart-info .name,.cart-info .price{
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.price img{
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px !important;
}


/*modal*/
.modal-wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.modal{
  width: 70%;
  height: 90%;
  background: #fff;
  border-radius: 10px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-wrapper.active{
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
}

.slider{
  position: relative;
  height: 100%;
  width: 100%;
}

/* Swipper */
.swiper {
  width: 100%;
  height: 100%;
  margin-left: unset !important;
}
.swiper-custom{
  width: 100%;
  height: auto !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  background: #000;
  color: #000;
}

.swiper {
  width: 100%;
  height: 300px;

}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 78%;
  width: 100%;
  
}

.mySwiper {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;

}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;

}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-slide-thumb-active {
  border: 2px solid rgb(239, 209, 14);
}
.mySwiper .swiper-slide{
  transition: all 0.3s ease-in-out;
  opacity: 0.8 !important;
}