#wrapper{
    position: absolute;
    background-color: rgba(1, 1, 1, 0.306);
    width: 85%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    overflow: hidden;
    transition: all 0.2s ease-out;
    border-radius: 10px;
}
#wrapper.close{
    transform: scale(0.001);
    opacity: 0;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  height: 100%;
  width: 100%;
}
.category{
  height: 100%;
  width: 15%;
  padding: 40px 20px;
  background-color: rgba(1, 1, 1, 0.5);
}
.category ul{
  width: 100%;
  height: 100%;
}
.category ul li{
  width: 100%;
  height: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}
.cart-wrapper{
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
}

.cart-wrapper__header{
  height: 5%;
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
}
#close{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart-wrapper__header .drop-down{
width: 200px;
background-color: #fff;
height: 95%;
align-self: center;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.drop-down select{
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}
.drop-down select:active,.drop-down select:focus,.drop-down select:hover{
  border: none;
}
.cart-wrapper__list{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 95%;
  width: 95%;
  overflow-y: auto;
  gap: 20px;
  padding: 20px 20px;
}
.cart-wrapper__action{
  height: 10%;
}

.cart-wrapper__list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.cart-wrapper__list::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.cart-wrapper__list::-webkit-scrollbar-thumb {
  background: rgb(23, 23, 23); 
}

/* Handle on hover */
.cart-wrapper__list::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200); 
}

.cart-wrapper__item{
  width: 100%;
  max-width: calc(100% / 4 - 20px);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.cart-wrapper__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-wapper__infos{
 position:absolute;
 background:linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.7));
  width: 200px;
  height: auto;

}
.cart-wrapper__img{
  background:linear-gradient(180deg,rgba(0,0,0,.3),rgba(0,0,0,.5));
  background-size: cover; 
  height: 180px;
  transition: all 0.3s ease;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}
.cart-wrapper__img:hover{
  -webkit-box-shadow: #fff 0px 0px 2px 0px, rgb(213, 133, 67) 0 0px 5px, #b84d14 0 0px 8px 2px, rgb(255, 234, 0) 0 0px 10px, 0px 0px 4px 0px rgb(194 78 156 / 0%); 
  box-shadow: #fff 0px 0px 2px 0px, rgb(213, 133, 67) 0 0px 5px, #b84d14 0 0px 8px 2px, rgb(255, 34, 0) 0 0px 10px, 0px 0px 4px 0px rgb(194 78 156 / 0%);
}
.cart-wrapper__action{
  height: 50px;
  margin-top: 10px;
}
.cart-wrapper__action button{
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
#modal{
  display: none;
  transition: all 0.3s ease-in-out;
}
#modal img{
  object-fit: unset;
  width: 50px;
  height: 50px;
}
.btn{
  height: 100%;
  width: 100%;
  border:none;
  outline: none;
  cursor: pointer;
}
.btn-buy{
  background: rgb(31,89,22);
  background: linear-gradient(180deg, rgb(47, 105, 38) 0%, rgb(113, 175, 74) 50%);
  transition: all 0.5s ease-in;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btn-buy:hover{
  background: rgb(31,89,22);
  background: linear-gradient(180deg, rgba(31,89,22,1) 0%, rgba(95,167,50,1) 50%);
}
.btn-detail{
  background: rgb(89, 22, 38);
  background: linear-gradient(180deg, rgb(105, 38, 61) 0%, rgb(175, 74, 98) 50%);
  transition: all 0.5s ease-in;
}
.btn-detail:hover{
  background: rgb(89, 22, 43);
  background: linear-gradient(180deg, rgb(89, 22, 48) 0%, rgb(167, 50, 87) 50%);
}